<!DOCTYPE html>
<html>
<head>
	<title>The Wall!</title>

</head>
<body>
	<div class="header">
		<div class="left">
			<h1>Coding Dojo Wall</h1>
		</div>
		<div class="right">
			<a href="/logoff">Log Off</a>
		</div>
	</div>
	<div class="main">
		<p>Post a message</p>
		<form action = '/post' name='post'>
			<textarea style="width:600px; height:200px">
			</textarea>
			<p><input type="submit" name="leave a comment"></p>
		</form>
	</div>
	<div class="messages">
		<p>Leave a comment</p>
		<textarea style="width:400px; height:150px"></textarea>
	</div>

</body>
</html>